		input, textarea {
      padding-left:5px;
      padding-right:5px;
    }
		select {
      padding-left:5px;
    }

img.helpicon {cursor:pointer;}
img.tabreload {
  cursor:pointer;
  position:absolute;
  top:5px;
  right:5px;
}
.vrstranky1 {
	color: blue;
	font-weight: bold;
}
.vrstranky2 {
	text-decoration:underline;
	font-weight: bold;
	color: blue;
}
.vrstranky3 {
	text-decoration:none;
	font-weight: bold;
	color: black;
	background-color:silver;
}
.vrstranky6 {
	text-decoration:none;
	border: solid 1px silver;
	color: gray;
	background-color:silver;
}
.vrstranky7 {
	text-decoration:none;
	border: solid 1px black;
	background-color:white;
}
.vrstranky8 {
	float: left;
	padding:2px;
}
.vrstranky9 {
	float: right;
	padding:2px;
}
.vrstranky8 a, .vrstranky8 span.vrstranky3, .vrstranky9 a{
	padding:2px;
}
.nekric {
	background-color: #BABAEC;
	color: Black;
	background-image: url('/images/dialog-information.png');
	background-position: right;
	background-repeat: no-repeat;
}

.chyba {
	background-color: #EC6D6D;
	color: White;
	background-image: url('/images/alert.png');
	background-position: right;
	background-repeat: no-repeat;
}

.err {
	background-color: #6D6DEC;
	color: White;
	background-image: url('/images/alert.png');
	background-position: right;
	background-repeat: no-repeat;
}

.warn {
	background-color: #ECEC6D;
	color: Black;
	background-image: url('/images/alert.png');
	background-position: right;
	background-repeat: no-repeat;
}

.krokchyba {
	background-color: #EC6D6D;
  width:125px;
	color: White;
}

.krokerr {
	background-color: #6D6DEC;
  width:125px;
	color: White;
}

.krokwarn {
	background-color: #ECEC6D;
  width:125px;
	color: Black;
}

.softchyba {
	background-color: #ECBABA;
	color: Black;
	background-image: url('/images/alert.png');
	background-position: right;
	background-repeat: no-repeat;
}

.softerr {
	background-color: #BABAEC;
	color: Black;
	background-image: url('/images/alert.png');
	background-position: right;
	background-repeat: no-repeat;
}

.softwarn {
	background-color: #ECECBA;
	color: Black;
	background-image: url('/images/alert.png');
	background-position: right;
	background-repeat: no-repeat;
}

.kroksoftchyba {
	background-color: #ECBABA;
  width:125px;
	color: Black;
}

.kroksofterr {
	background-color: #BABAEC;
  width:125px;
	color: Black;
}

.kroksoftwarn {
	background-color: #ECECBA;
  width:125px;
	color: Black;
}

.xxxpovinne {
	background-color: #FF7777;
	color: White;
	background-image: url('/images/alert.png');
	background-position: right;
	background-repeat: no-repeat;
}

.softpozitivni {
	background-color: #6DEC6D;
	color: Black;
}

.pozitivni {
	background-color: #BAECBA;
	color: Black;
}

.softnegativni {
	background-color: #EC6D6D;
	color: Black;
}
.negativni {
	background-color: #ECBABA;
	color: Black;
}
